body {
  font-family: "Raleway", "sans-serif";
}

/*Container du site global*/
#container{
  max-width: 65%;
  margin: auto;
  margin-top:-15px;
}

/*En-tête et navigation*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
nav {
    display: flex;
    align-items: center;
 
}
nav ul {
	display: flex;
  flex-wrap: wrap;
}

nav li{
	list-style: none;
	padding-left: 30px;
}
li a{
text-decoration: none;
color: black;
}
.hebgmt {
  border-top: 2px solid #0065fc;
  padding: 0.501em 0.938em;
  text-decoration: none;
  color: #0065fc;
}
.activites {
  padding: 0.625em 0.938em;
  text-decoration: none;
  color: black;
}
.inscription {
  padding: 0.625em 0.938em;
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
}

/*Introduction texte*/

#intro h1{
  font-weight: bold;
  font-size: 20px;
}
#intro p{
  font-size: 13px;
}

/*Introduction recherche*/

form.recherche{
   width: 45%; /*Enlever toutes les width pour éviter que le formulaire de recherche ne se réduise ou s'élargisse quand on augment la taille du site*/
   display: flex;
   margin-top: 20px;
   margin-bottom: 15px;
}

form.recherche input[type=text] {
  padding: 10px;
  font-size: 15px;
  border:1px solid #F2F2F2;
  float: left;
  width: 30%;
  font-weight: bold;
}

form.recherche button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #F2F2F2;
  color: black;
  font-size: 15px;
  border: 1px solid #F2F2F2;
  border-radius: 0.875em 0 0 0.875em;
}

form.recherche button.btn{
  float: left;
  width: 22%;
  padding: 10px;
  background: #0065fc;
  color: #F2F2F2;
  font-size: 15px;
  border-left: none;
  border-radius: 0 14px 14px 0;
  border: 1px solid #0065fc; 
}

/* Filtres de recherche*/

#lesfiltres {
  display: flex;
  font-size: 1.063em;
  font-weight: bold;
}  

#lesfiltres p{
  display: flex;
  font-size: 1.063em;
  font-weight: bold;
}  

#filtres {
  display: flex;
  flex-wrap: wrap;
}

.economique {
  display: flex;
  align-items: center;
  border-radius:1.875em;
  width:10.625em;
  height:2.188em;
  border:0.125em solid #F2F2F2;
  margin:0.625em ;
}
.economique i{
  display: flex;
  width: 2.188em;
  height: 2.188em;
  border: 0.063em solid #DEEBFF;
  border-radius: 50%;
  background-color: #DEEBFF;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  font-size: 0.938em;
}
.economique p{
  display: flex;
  margin:auto;
}

.familial {
  display: flex;
  align-items: center;
  border-radius:1.875em;
  width:8.125em;
  height:2.188em;
  border:0.125em solid #F2F2F2;
  margin:0.625em ;
}
.familial i{
  display: flex;
  width: 2.188em;
  height: 2.188em;
  border: 0.063em solid #DEEBFF;
  border-radius: 50%;
  background-color: #DEEBFF;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  font-size: 0.938em;
}
.familial p{
  display: flex;
  margin:auto;
}

.romantique {
  display: flex;
  align-items: center;
  border-radius:1.875em;
  width:10em;
  height:2.188em;
  border:0.125em solid #F2F2F2;
  margin:0.625em ;
}
.romantique i{
  display: flex;
  width: 2.188em;
  height: 2.188em;
  border: 0.063em solid #DEEBFF;
  border-radius: 50%;
  background-color: #DEEBFF;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  font-size: 0.938em;
}
.romantique p{
  display: flex;
  margin:auto;
}

.animaux {
  display: flex;
  align-items: center;
  border-radius:1.875em;
  width:12.5em;
  height:2.188em;
  border:0.125em solid #F2F2F2;
  margin:0.625em ;
  margin-bottom: 0.938em; 
}
.animaux i{
  display: flex;
  width: 2.188em;
  height: 2.188em;
  border: 0.063em solid #DEEBFF;
  border-radius: 50%;
  background-color: #DEEBFF;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  font-size: 0.938em;
}
.animaux p{
  display: flex;
  margin:auto;
}

/* Volet plus de 500 logements*/

#exclamation{
  display: flex;   
}

#exclamation i{
  display: flex;
  justify-content: center;
  align-items: center;
  width:18px;
  height: 18px;
  border: 1px solid #686666;
  border-radius: 50%;
  color: #0065fc;
  font-size: 10px;
  margin-top:6px;
}

#exclamation p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 10px 30px 10px;
  font-size: 14px;

}


