body{
    font-family: 'Raleway', 'sans-serif';
  
}

/* Menu de navigation*/

.navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.logo img {
        width: 140px;
        vertical-align: middle;
}
           
.menu {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
}     

.menu0 a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: black;
}

.menu0:hover a {
        color:  #0065fc;
}

/*Introduction*/

.intro{

        width:50%;
}

/* Formulaire de recherche*/

.recherche {
        display: flex;
        width: 50%;    
}
      
.recherche input[type="text"] {
        padding: 8px 25px;
        width: 190px;
        height: 20px;
        font-size: 17px;
        font-weight: bold;
        border:2px solid rgb(214, 211, 211);
        }
.recherche i{
        display: flex;
        width: 50px;
        height: 40px;
        border-radius: 14px 0 0 14px;
        background-color:lightgray;
        justify-content: center;
        align-items: center;
}

.recherche input[type="submit"] {
        width: 120px;
        height: 40px;
        background-color: #0065fc;
        color: white;
        padding: 2px 10px;
        border-radius: 0 14px 14px 0;
        font-size: 17px;
        align-items: center;
        justify-content: center;
        border: 1px solid #0065fc;    
}

/* Filtres de recherche*/

.filtres {
        display: flex;
        align-items: baseline;
        font-size: 20px;
        font-weight: bold;
}  

.filtre {
        display: flex;
        flex-wrap: wrap;
}

.filtre0 {
        display: flex;
        align-items: center;
        border-radius:30px;
        width:200px;
        height:35px;
        border:2px solid rgb(214, 211, 211);
        margin:10px ;
}
.filtre0 i{
        display: flex;
        width: 35px;
        height: 35px;
        border: 1px solid lightskyblue;
        border-radius: 50%;
        background-color: lightskyblue;
        justify-content: center;
        align-items: center;
        color: #0065fc;;
}
.filtre0 p{
        display: flex;

}

/* Volet plus de 500 logements*/

.exclamation{
        display: flex;
        justify-content: flex-start;
}

.exclamation i{
        display: flex;
        justify-content: center;
        align-items: center;
        width:30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 50%;
        color: #0065fc;

}

.exclamation p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px;
}

/*Hébergement à Marseille*/

.container{
        width:100%;
        display:flex
}
.hebergements{
 width: 60%;
 background-color:gainsboro;
 margin:10px;
 border-radius: 20px;

}
.hg_marseille{
        display: flex;
        flex-wrap: wrap;   
}

.hg_marseille0{
        margin:10px; 
}
.cannebiere{
        width:300px;
        height:150px;
}

.etoile{
display:flex;

}

.etoile1 i{
        color:grey;
}
.etoile0 i{
       color: #0065fc;
}


.etoile01{
        display:flex;
}
        

.etoile001 i{
        color: #0065fc;
}



.hotel_port{
        width:300px;
        height:150px;
}
.hotel_mouettes{
        width:300px;
        height:150px;
}

.hotel_mer {
        width:300px;
        height:150px;
}
.auberge_panier {
        width:300px;
        height:150px;
}
.hotel_amina{
        width:300px;
        height:150px;
}

/*Les plus populaires */

.populaires{
        width: 30%;
        background-color:gainsboro;
        margin:10px;
        border-radius: 20px;    
}

.hg_populaires{
        display: flex;
        flex-wrap: wrap;   
}

.hg_populaires0{
        margin:10px; 
}

.hotel_soleil {
        width:300px;
        height:150px;
}
.au_coeur {
        width:300px;
        height:150px;
}
.tout_bleu{
        width:300px;
        height:150px;
}


/*Activités à Marseille*/

.marseille{
display: flex;

}

.marseille0{
margin :10px;
border-radius:0 0 25px 25px;
border:1px solid white;
}

.marseille0 .port{
        width:350px;
        height: 390px;
        border-radius:25px 25px 0 0;
}

.marseille0 p{
        display: flex;
        width:350px;
        height: 25px;
        border-radius:0 0 25px 25px;
        box-shadow: 8px 8px 8px #aaa;
        justify-content: center;
   
}

.marseille01{
        width:auto;
        margin :10px;
        border-radius:0 0 25px 25px;
}
.marseille001{
        height:300px;
        margin:10px;
        border-radius:0 0 25px 25px;
        border:1px solid white;
}

.marseille001 .pomegues{
        width:300px;
        height: 180px;
        border-radius:25px 25px 0 0;
}

.marseille001 .p{
        display: flex;
        width:350px;
        height: 25px;
        border-radius:0 0 25px 25px;
        box-shadow: 8px 8px 8px #aaa;
        justify-content: center;
}

.marseille0010 .frioul{
        width:300px;
        height: 130px;
        border-radius:25px 25px 0 0;
}

.marseille0010 p{
        display: flex;
        width:300px;
        height: 25px;
        border-radius:0 0 25px 25px;
        box-shadow: 8px 8px 8px #aaa;
        justify-content: center;
}

.marseille02{
        margin :10px;
        border-radius:0 0 25px 25px;
        border:1px solid white;
}
        
.marseille02 .calanques{
        width:350px;
        height: 400px;
        border-radius:25px 25px 0 0;
}
        
.marseille02 p{
                display: flex;
                width:350px;
                height: 25px;
                border-radius:0 0 25px 25px;
                box-shadow: 8px 8px 8px #aaa;
                justify-content: center;
           
}

.marseille03 {
        width:auto;
        margin:10px;
        border-radius:0 0 25px 25px;
}

.marseille003{
        height:240px;
        margin :10px;
        border-radius:0 0 25px 25px;
        border:1px solid white;
}

.marseille003 .notre_dame{
        width:300px;
        height: 180px;
        border-radius:25px 25px 0 0;
}

.marseille0030 .longchamp{
        width:300px;
        height: 130px;
        border-radius:25px 25px 0 0;
}

.marseille0030 p{
        display: flex;
        width:300px;
        height: 25px;
        border-radius:0 0 25px 25px;
        box-shadow: 8px 8px 8px #aaa;
        justify-content: center;
}



/*Menu footer*/

footer {
        background-color: darkgray;
}

.pied_page {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
}

.pied_page nav ul{
        list-style:none;
        margin-left:0;
        padding-left:0;
        }
li {
        margin-bottom:10px;
}

.pied_page0 a {
        color: black;
        text-decoration: none;
}
